annotated-types==0.7.0
anyio==4.12.1
asgiref==3.11.0
certifi==2026.1.4
Django==6.0
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.14
h11==0.16.0
huggingface_hub==1.7.2
httpcore==1.0.9
httpx==0.28.1
idna==3.11
inflection==0.5.1
ollama==0.6.1
packaging==26.0
pillow==12.1.0
psycopg-binary==3.3.2
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.10.1
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
reportlab==4.2.5
matplotlib==3.10.7
wordcloud==1.9.4
